/* =========================
   ADMIN LAYOUT
========================= */

.admin-layout {
  display: flex;
  min-height: 100vh;

  background: linear-gradient(
    135deg,
    #fff0f5,
    #ffe4ec,
    #ffd6e0
  );

  font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* =========================
   MAIN AREA
========================= */

.admin-main {
  flex: 1;
  margin-left: 250px;
  width: calc(100% - 250px);
  max-width: calc(100% - 250px);

  display: flex;
  flex-direction: column;
}

/* =========================
   HEADER
========================= */

.admin-header {
  height: 70px;
  margin-left: 32px;
  width: 1635px;

  background: rgba(255, 250, 251, 0.85);
  backdrop-filter: blur(12px);

  border-bottom: 1px solid #ffd6e0;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 30px;

  position: sticky;
  top: 0;
  z-index: 50;
}

.admin-header h1 {
  margin: 0;

  color: #d6336c;
  font-size: 1.4rem;
  font-weight: 900;
}

/* =========================
   HEADER ACTIONS
========================= */

.header-actions {
  display: flex;
  align-items: center;
}

.admin-greeting {
  margin-right: 15px;
}

.logout-btn {
  padding: 8px 15px;

  background: #ff4d6d;
  color: white;

  border: none;
  border-radius: 8px;

  cursor: pointer;
  font-weight: bold;

  transition: 0.3s;
}

.logout-btn:hover {
  opacity: 0.9;
}

/* =========================
   CONTENT
========================= */

.admin-content {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
}